.gift-card-container {
    max-width: 800px;
    margin: auto;
  }
  
  .table-container {
    max-height: 300px; /* Set your desired height */
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  