.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-body {
    text-align: center;
  }
}

.btn {
  width: 100%;
  background-color: black;
  border: 1px solid black;
  font-size: 15px;
  color: white;

  &:hover {
    background-color: white;
    color: black;
  }
}


@media (max-width: 768px) {
  .card-img-top {
    max-width: 200px;
    margin: 0 auto;
  }
}
.table-container {
  max-height: 300px; /* Set your desired height */
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}
